html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    margin:0px;
}

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

#content {
    width: 100%;
    height: 100%;
    grid-template-columns: 185px 1fr;
}

#header-todo-container {
    --shadow-color: 0deg 0% 70%;
    --shadow-elevation-low:
    -1px 0px 1.1px hsl(var(--shadow-color) / 0.25),
    -3px 0px 3.4px -2.5px hsl(var(--shadow-color) / 0.25);

    box-shadow: var(--shadow-elevation-low);
    grid-column: 2 / 3;
    grid-template-rows: 30px 1fr;
    height: 100vh;
    z-index: 2;
}

button {
    font-style: inherit;
}