#sidebar {
    background-color: rgb(224, 224, 224);
    grid-column: 1 / 2;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
    z-index: 1;
}

#search-bar {
    background: url("../../assets/search.svg") no-repeat scroll 5px;
    background-size: 9px 9px;
    background-color: rgb(210, 210, 210);
    border: rgb(205, 205, 205) .7px solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 9px;
    height: 20px;
    outline: rgb(224, 224, 224) 10px solid;
    position: relative;
    margin-bottom:12px;
    margin-top:25px;
    padding-left:20px;
    width: 100%;
    transition: none;
    z-index: 3;
}

#search-bar:focus {
    outline: rgb(125, 164, 225) solid 2.5px;
    transition: outline 0.2s linear;
}

#search-bar::placeholder {
    color: rgb(164,164,164);
}

#groups-container {
    gap: 5px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    margin-bottom: 12px;
}

.group {
    align-items: stretch;
    background-color: rgb(199, 199, 199);
    border-radius:6px;
    border:none;
    color: rgb(72,72,72);
    display: flex;
    flex-direction: column;
    font-size: 9px;
    font-weight: 600;
    gap: 4px;
    padding: 4.5px 7px;
    text-align: left;
    width: 80px;
}

.img-and-total {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group-total {
    font-size: 14px;
}

.group-img-container {
    display: flex;
    border-radius: 50%;
    flex-wrap: wrap;
    height: 11px;
    width: 11px;
    place-content: center;
    padding: 2px;
}

#today-img-container {
    background-color: rgb(1, 113, 244);
}

#scheduled-img-container {
    background-color: rgb(245, 49, 38);
}

#all-img-container {
    background-color: rgb(62, 62, 62);
}

#flagged-img-container {
    background-color: rgb(244, 140, 0);
}

#completed-img-container {
    background-color: rgb(88, 103, 113);
}

.group-img {
    height: 7.5px;
    filter: brightness(0) invert(1);
}

#my-lists-title {
    color: rgb(167, 167, 167);
    font-size: 8px;
    font-weight: bold;
    margin-left: 8px;
}